
$color-footer-background: #111;
$color-footer-text: #fff;
$color-link: #d1d1d1; 
$color-link-hover: #ffffff;
$navbar-color: rgb(0, 0, 0);
$text-color: rgb(255, 255, 255);
$mobile-breakpoint: 768px; 
$secondary-color: #F7931E;
$hover-color: #b96d17;
$paragraph-color: #a5a5a5;


